<div class="mb-4 flex items-center justify-between">
  <h1 class="text-3xl font-semibold text-gray-900">Events</h1>

  <%= link_to "สร้าง Event", events_new_path,
    class: "rounded-xl bg-[#95C24A] px-4 py-2 text-white shadow-sm hover:opacity-90" %>
</div>

<% if @events_by_category.any? %>
  <% @events_by_category.each do |category, events| %>
    <div class="mb-6">
      <h2 class="text-2xl font-semibold text-gray-700 mb-3">
            <%= (category.presence || "uncategorized").capitalize %>
      </h2>
      <% events.each do |event| %>
  <%= link_to event_path(event), class: "block" do %>
    <div class="mb-3 rounded-xl bg-white p-4 shadow-sm hover:shadow-md transition">
      <h3 class="text-xl font-semibold text-gray-800">
        <%= event.name %>
      </h3>
    </div>
  <% end %>
<% end %>
    </div>
  <% end %>
<% else %>
  <p>ยังไม่มี event</p>
<% end %>
